#

#*.BAS
#*.bas
*.BIN
*.bin
*.CMD
*.cmd
*.CRF
*.crf
*.COM
*.com
*.DBG
*.dbg
*.EXE
*.exe
*.ERR
*.err
*.HST
*.hst
*.OBJ
*.obj
#*.OVR
#*.ovr
*.LIB
*.lib
*.LST
*.lst
*.MAP
*.map
*.PRF
*.prf
*.SYM
*.sym

